*{
    padding: 0;
    margin: 0;
}
#container{
    width: 450px;
    border: 3px solid black;
    margin: 50px auto;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
#screen{
    display: block;
    font-size: 2rem;
    margin: 4px auto;

}
#screen:focus{
    outline: none;
}
td{
    height: 50px;
    width: 60px;
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgb(104, 104, 104);
    transition: 100ms;

}
td:active{
    transform: scale(0.8);
}
button{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    border-radius: 8px;

}
button:hover{
    cursor: pointer;
}
table{
    margin: 20px auto;
    border: 8px solid #ccc;

}